<div class="content-header">
    <h2 class="content-title">Ensemble </h2>
    <div>
        <a  [routerLink]="['/dashboard/vetement/add']" class="btn btn-primary">Créer un nouveau look</a>
       
    </div>
</div>
<div class="card mb-4">
    <header class="card-header">
        <h4>Liste des Ensemblee</h4>
    </header>
    <div class="card-body">
        <h5 class="card-title">mes creation</h5>
        <div class="mt-4">
            <div class="col d-flex flex-wrap">
                <div *ngFor="let ensemble of ensemblePage.content" class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-around flex-wrap gap-1">
                  <app-ensemple-item [ensemble]="ensemble"></app-ensemple-item>
                </div>
            </div>
        </div>
    
    </div>
 
</div> 

