<div class="card-1 d-flex flex-column align-items-center" tabindex="-1" style="width: 160px;">
    <figure class="d-flex align-items-center justify-content-center">
        <div *ngFor="let media of mediaDetailsList">
            <img width="50px" height ="50px"[src]="media.imageUrl" alt="">
        </div>
    </figure>
    <p style="color:black">{{ensemble.nomDeLEnsemble}}</p>
   <div class="d-flex justify-content-center align-items-center">
    <a aria-label="Favoris" class="action-btn hover-up heartt" (click)="toggleFavoris()" [ngStyle]="{ 'background-color': isFavoris ? '#0E8178' : 'white', 'color': isFavoris ? 'white' : '#0E8178' }"><i class="fi-rs-heart"></i></a>
    <a aria-label="Delete" class="action-btn hover-up heartt" style="color: rgb(188, 0, 0);" (click)="onDeleteClick()"><i class="fi-rs-trash"></i></a>
   </div>

</div>
