    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="" class="brand-wrap">
                <img src="../../../../assets/logo-no-background.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" [routerLink]="['/dashboard']" (click)="toggleActive(1)"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/vetements']" (click)="toggleActive(2)"> <i class="icon material-icons md-checkroom"></i>
                        <span class="text">Mes vetements</span>
                    </a>
                    
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/ensembles']" (click)="toggleActive(3)"> <i class="icon material-icons md-local_offer "></i>
                        <span class="text">Mes Ensembles</span>
                    </a>
             
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/planifications']" (click)="toggleActive(4)"> <i class="icon material-icons md-event"></i>
                        <span class="text">Planing</span>
                    </a>
             
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/vetement/add']"  (click)="toggleActive(5)"> <i class="icon material-icons md-add"></i>
                        <span class="text">Ajouter vetement</span>
                    </a>
               
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/ensemble/add']" (click)="toggleActive(6)"> <i class="icon material-icons md-add_circle"></i>
                        <span class="text">Creer Ensemble</span>
                    </a>
             
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/vetements/favoris']"  (click)="toggleActive(7)"> <i class="icon material-icons md-favorite"></i>
                        <span class="text">vetements favoris</span>
                    </a>
             
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/ensembles/favoris']" (click)="toggleActive(8)"> <i class="icon material-icons md-favorite_border"></i>
                        <span class="text">Ensembles favoris</span>
                    </a>
             
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/category']" (click)="toggleActive(9)"> <i class="icon material-icons md-filter"></i>
                        <span class="text">Category</span>
                    </a>
             
                </li>
                <li class="menu-item ">
                    <a class="menu-link" [routerLink]="['/dashboard/suggestion']"(click)="toggleActive(10)"> <i class="icon material-icons md-favorite_border"></i>
                        <span class="text">Suggestion d'ensemble</span>
                    </a>
             
                </li>
        
    
                <li class="menu-item">
                    <a class="menu-link" [routerLink]="['/dashboard/statistics']" (click)="toggleActive(11)"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
        
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
             
                </form> -->
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item mr-5">
                        <a class="nav-link btn-icon" [routerLink]="['/dashboard/favorite']">
                            <i class="material-icons md-favorite animation-shake"></i>
                            
                        </a>
                    </li>
                    <li class="nav-item">
                        <p class="mr-5 ml-5">Hey {{firstName}},{{lastName}}</p>
                    </li>

                        <li class="nav-item" >
                            <img style="width: 25px;"class="rounded-cercle" alt="User" src="../../../assets/imgs/shop/user.png">
                        </li>

                        <li class="nav-item">
                            <a (click)="logout()" class="mr-5 ml-5 new btn btn-primary text-white">Logout</a>
                        </li>
                   
                </ul>
            </div>
        </header>
        <section class="content-main">
            <router-outlet></router-outlet>
           
        </section>

    </main>

