<div class="content-header d-flex justify-content-between">
    <h2 class="content-title">Dashboard </h2>
    <div>
        <a  [routerLink]="['/dashboard/planifications']" class="btn" style="background-color: #0E8178;color: aliceblue;">Creer un nouveau Planning</a>
    </div>
</div>
<div class="card mb-4">
    <header class="card-header">
    </header>
    <div class="card-body">
        <h5 class="card-title">About us</h5>
<p>
    Bienvenue sur la page d'accueil de notre tableau de bord ! Cet espace central vous permet de gérer tous les aspects de votre expérience utilisateur. Depuis cette page, vous pouvez accéder rapidement à toutes les fonctionnalités disponibles, telles que la gestion de vos vêtements et ensembles, la planification de vos tenues, la consultation de vos favoris, l'accès aux statistiques et bien plus encore. Utilisez notre tableau de bord pour explorer et tirer le meilleur parti de notre application, tout en bénéficiant d'une interface conviviale et intuitive.
</p>
 
</div> 

