<main class="container m-auto w-75">
    <section class="content-main mt-80 mb-80">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Créer un compte</h4>
                <form>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Email</label>
                            <input class="form-control" placeholder="Votre email" type="text">
                        </div> 
                        <div class="col-md-6">
                            <label class="form-label">Mot de passe</label>
                            <input class="form-control" placeholder="Mot de passe" type="password">
                        </div> 
                    </div> 

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Nom</label>
                            <input class="form-control" placeholder="Votre nom" type="text">
                        </div> 
                        <div class="col-md-6">
                            <label class="form-label">Prénom</label>
                            <input class="form-control" placeholder="Votre prénom" type="text">
                        </div> 
                    </div> 

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Nom d'utilisateur</label>
                            <input class="form-control" placeholder="Nom d'utilisateur" type="text">
                        </div> 
                        <div class="col-md-6">
                            <label class="form-label">Sexe</label>
                            <select class="form-control">
                                <option value="HOMME">Homme</option>
                                <option value="FEMME">Femme</option>
                            </select>
                        </div> 
                    </div> 

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="selectPays">Pays</label>
                                <select class="form-control" id="selectPays" name="country" [(ngModel)]="countrySelected" (ngModelChange)="onCountrySelected($event)">
                                    <option value="" selected>Choisir un pays</option>
                                    <option *ngFor="let country of listcountry" [value]="country.iso2" >{{ country.name }}</option>
                                </select>
                            </div>
                        </div> 
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="selectEtat">État</label>
                                <select class="form-control" id="selectEtat" name="state" [(ngModel)]="selectedState" (ngModelChange)="onStateSelected()">
                                    <option value="" selected>Choisir un état</option>
                                    <option *ngFor="let state of listState" [value]="state.iso2">{{ state.name }}</option>
                                </select>
                            </div>
                        </div> 
                    </div> 

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="selectVille">Ville</label>
                                <select class="form-control" id="selectVille">
                                    <option value="" selected>Choisir une ville</option>
                                    <option *ngFor="let city of listCity" [value]="city.id">{{ city.name }}</option>
                                </select>
                            </div>
                        </div> 
                    </div> 

                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label class="form-label">Préférences de style</label>
                            <select class="form-control">
                                <option value="Casual">Casual</option>
                                <option value="Formal">Formel</option>
                                <option value="Sportswear">Vêtements de sport</option>
                                <option value="Business">Tenue professionnelle</option>
                                <option value="Eveningwear">Tenue de soirée</option>
                                <option value="Business Casual">Tenue décontractée professionnelle</option>
                                <option value="Smart Casual">Tenue décontractée élégante</option>
                                <option value="Streetwear">Streetwear</option>
                                <option value="Vintage">Vintage</option>
                                <option value="Other">Autre</option>
                            </select>
                        </div> 
                    </div> 

                    <div class="mb-3">
                        <p class="small text-center text-muted">En vous inscrivant, vous confirmez avoir lu et accepté nos avis aux utilisateurs et notre politique de confidentialité.</p>
                    </div> 

                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> S'inscrire </button>
                    </div> 
                </form>
                <p class="text-center small text-muted mb-15">ou s'inscrire avec</p>
                <div class="d-flex gap-2 mb-4">
                 
                </div>
                <p class="text-center mb-2">Vous avez déjà un compte? <a href="/login">Connectez-vous maintenant</a></p>
            </div>
        </div>
    </section>
</main>
