
<div class="modal fade custom-modal" id="quickViewModal" tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">              
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>       
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="detail-gallery">
                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                    
                            <!-- THUMBNAILS -->
                            <div class="slider-nav-thumbnails pl-15 pr-15">
                                <div><img src="assets/imgs/shop/thumbnail-3.jpg" alt="product image"></div>
                                <div><img src="assets/imgs/shop/thumbnail-4.jpg" alt="product image"></div>
                                <div><img src="assets/imgs/shop/thumbnail-5.jpg" alt="product image"></div>
                                <div><img src="assets/imgs/shop/thumbnail-6.jpg" alt="product image"></div>
                                <div><img src="assets/imgs/shop/thumbnail-7.jpg" alt="product image"></div>
                                <div><img src="assets/imgs/shop/thumbnail-8.jpg" alt="product image"></div>
                                <div><img src="assets/imgs/shop/thumbnail-9.jpg" alt="product image"></div>
                            </div>
                        </div>
                        <!-- End Gallery -->
                        <div class="social-icons single-share">
                            <ul class="text-grey-5 d-inline-block">
                                <li><strong class="mr-10">Share this:</strong></li>
                                <li class="social-facebook"><a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt=""></a></li>
                                <li class="social-twitter"> <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt=""></a></li>
                                <li class="social-instagram"><a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt=""></a></li>
                                <li class="social-linkedin"><a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a></li>
                            </ul>
                        </div>
                    </div>
                 
                </div>
            </div>        
    </div>
    </div>
</div>
<app-header></app-header>
<app-home-slider></app-home-slider>
<app-category></app-category>


<app-footer></app-footer>
<app-preloader></app-preloader>





