<section class="popular-categories section-padding mt-15 mb-25">
    <div class="container wow fadeIn animated animated animated" style="visibility: visible;">
        <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
        <div class="carausel-6-columns-cover position-relative">
            <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"><span class="slider-btn slider-prev slick-arrow" style=""><i class="fi-rs-angle-left"></i></span><span class="slider-btn slider-next slick-arrow" style=""><i class="fi-rs-angle-right"></i></span></div>
            <div class="carausel-6-columns slick-initialized slick-slider" id="carausel-6-columns">

                
            <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 4180px; transform: translate3d(-2280px, 0px, 0px);"><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="-6" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/Sun_hat_-8-removebg-preview.png" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Sandan</a></h5>
                </div><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="-5" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-4.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Scarf Cap</a></h5>
                </div><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="-4" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/Sun_hat_-8-removebg-preview.png" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Shoes</a></h5>
                </div><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="-3" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-6.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">manteau</a></h5>
                </div><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="-2" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-7.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Robe</a></h5>
                </div><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="-1" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-8.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Hats</a></h5>
                </div><div class="card-1 slick-slide" tabindex="-1" style="width: 166px;" data-slick-index="0" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-1.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">T-Shirt</a></h5>
                </div><div class="card-1 slick-slide" tabindex="-1" style="width: 166px;" data-slick-index="1" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"> <img src="../../../assets/imgs/shop/category-thumb-2.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Bags</a></h5>
                </div><div class="card-1 slick-slide" tabindex="-1" style="width: 166px;" data-slick-index="2" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-3.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Sandan</a></h5>
                </div><div class="card-1 slick-slide" tabindex="-1" style="width: 166px;" data-slick-index="3" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-4.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Scarf Cap</a></h5>
                </div><div class="card-1 slick-slide" tabindex="-1" style="width: 166px;" data-slick-index="4" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/Sun_hat_-8-removebg-preview.png" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Shoes</a></h5>
                </div><div class="card-1 slick-slide" tabindex="-1" style="width: 166px;" data-slick-index="5" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-6.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Manteau</a></h5>
                </div><div class="card-1 slick-slide slick-current slick-active" tabindex="0" style="width: 166px;" data-slick-index="6" aria-hidden="false">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="0"><img src="../../../assets/imgs/shop/robe.png" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="0">Robe</a></h5>
                </div><div class="card-1 slick-slide slick-active" tabindex="0" style="width: 166px;" data-slick-index="7" aria-hidden="false">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="0"><img src="../../../assets/imgs/shop/Sun_hat_-8-removebg-preview.png" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="0">Hats</a></h5>
                </div><div class="card-1 slick-slide slick-cloned slick-active" tabindex="-1" style="width: 166px;" data-slick-index="8" id="" aria-hidden="false">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="0"><img src="../../../assets/imgs/shop/tshirt.jpeg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="0">T-Shirt</a></h5>
                </div><div class="card-1 slick-slide slick-cloned slick-active" tabindex="-1" style="width: 166px;" data-slick-index="9" id="" aria-hidden="false">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="0"> <img src="../../../assets/imgs/shop/61UDx9jF0mL._AC_SL1315_.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="0">Bags</a></h5>
                </div><div class="card-1 slick-slide slick-cloned slick-active" tabindex="-1" style="width: 166px;" data-slick-index="10" id="" aria-hidden="false">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="0"><img src="../../../assets/imgs/shop/1.jpeg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="0">Sandan</a></h5>
                </div><div class="card-1 slick-slide slick-cloned slick-active" tabindex="-1" style="width: 166px;" data-slick-index="11" id="" aria-hidden="false">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="0"><img src="../../../assets/imgs/shop/scarf.jpeg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="0">Scarf Cap</a></h5>
                </div>
               
                <div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="13" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/manteau-enfant-fille-en-laine.webp" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Manteau</a></h5>
                </div>
                <div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="14" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-7.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Robe</a></h5>
                </div><div class="card-1 slick-slide slick-cloned" tabindex="-1" style="width: 166px;" data-slick-index="15" id="" aria-hidden="true">
                    <figure class=" img-hover-scale overflow-hidden">
                        <a href="shop-grid-right.html" tabindex="-1"><img src="../../../assets/imgs/shop/category-thumb-8.jpg" alt=""></a>
                    </figure>
                    <h5><a href="shop-grid-right.html" tabindex="-1">Hats</a></h5>
                </div></div></div></div>
        </div>
    </div>
</section>

