<div class="product-cart-wrap mb-30 m-1 cursor-pointer" style="transition: 
0.5s ease;" onmouseover="this.style.transform='scale(1.01)'" onmouseout="this.style.transform='scale(1)'">
    <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
            <a href="shop-product-right.html">
                <img class="default-img" src="assets/imgs/shop/product-1-1.jpg" alt="">
                <img class="hover-img" src="assets/imgs/shop/product-1-2.jpg" alt="">
            </a>
        </div>
        <div class="product-action-1">
            <a aria-label="Add To Favoris" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
            <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
        </div>
        <div class="product-badges product-badges-position product-badges-mrg">
            <span class="new">New</span>
        </div>
    </div>
    <div class="product-content-wrap">
        <div class="product-category">
            <a href="/category">Category</a>
        </div>
        <h2><a href="/update">Product name</a></h2>
        <div>
            <span>
                <span>createdAt</span>
            </span>
        </div>
        <div class="product-badges product-badges-mrg">
            <span class="sale" onmouseover="this.style.backgroundColor='black'" onmouseout="this.style.backgroundColor='#a1cae2'"><a class="text-white" href="/update/id"> Update </a></span>
        </div>
        <div class="product-action-1 show">
            <a aria-label="Favoris" class="action-btn hover-up" href="shop-cart.html"><i class="fi-rs-heart"></i></a>
        </div>
    </div>
</div>