<main class="container m-auto" style="width: 550px;">

    <section class="content-main mt-80 mb-80 ">
        <div class="card mx-auto card-login">
            <div class="card-body">
                <h4 class="card-title mb-4">Sign in</h4>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <input class="form-control" formControlName="username" placeholder="username" type="text">
                        <div *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched) || submitted && loginForm.controls['username'].errors"
                        class="text-danger text-center small text-muted mb-15">Nom d'utilisateur est requis</div>
                 
                    </div> 
                    <div class="mb-3">
                        <input class="form-control" formControlName="password"  placeholder="Password" type="password">
                        <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched) || submitted && loginForm.controls['password'].errors"
                           class="text-danger text-center small text-muted mb-15">Mot de passe est requis</div>
                    </div> 
                    <div class="mb-3">
                        <a href="#" class="float-end font-sm text-muted">Forgot password?</a>
                        <label class="form-check">
                            <input type="checkbox" class="form-check-input" checked="">
                            <span class="form-check-label">Remember</span>
                        </label>
                    </div> 
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary w-100"> Login </button>
                    </div> 
                </form>
                <ul *ngIf="errorMessage" class="text-danger mt-3"><li>{{ errorMessage }}</li></ul>
                <p class="text-center small text-muted mb-15">or sign up with</p>
            
              
                <p class="text-center mb-4">Don't have account? <a [routerLink]="['/sign-up']">Sign up</a></p>
            </div>
        </div>
    </section>
    <app-preloader *ngIf="loading"></app-preloader>

</main>

