<div id="calendar-container">
  <div id="cal-buttons" class="d-flex justify-content-around mb-3">
    <div id="cal-date-nav-buttons" class="d-flex gap-2">
      <button
        class="btn btn-outline-success"
        id="previous"
        mwlCalendarPreviousView
        [(viewDate)]="viewDate"
        [view]="view"
      >
        Previous
      </button>
      <button
        class="btn btn-outline-secondary"
        id="today"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </button>
      <button
        class="btn btn-outline-primary"
        id="next"
        mwlCalendarNextView
        [(viewDate)]="viewDate"
        [view]="view"
      >
        next
      </button>
    </div>
    <div id="cal-date-field">
      {{ viewDate | calendarDate : view + "ViewTitle" : "fr" }}
    </div>
    <div id="cal-view-nav-buttons" class="d-flex gap-2">
      <button
        class="btn btn-outline-danger"
        id="month"
        (click)="setView(CalendarView.Month)"
      >
        Month
      </button>
      <button
        id="week"
        class="btn btn-outline-warning"
        (click)="setView(CalendarView.Week)"
      >
        Week
      </button>
      <button
        id="day"
        class="btn btn-outline-dark"
        (click)="setView(CalendarView.Day)"
      >
        Day
      </button>
    </div>
  </div>
  <span [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      locale="fr"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [refresh]="refresh"
    ></mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      locale="fr"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [refresh]="refresh"
    ></mwl-calendar-day-view>
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      locale="fr"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [refresh]="refresh"
    ></mwl-calendar-month-view>
  </span>
</div>
