<div id="calendar-container" >
  <div id="cal-buttons" class="d-flex justify-content-around align-items-center mb-3">

    <div id="cal-date-nav-buttons" class="d-flex gap-2">
     
      <button
        class="btn btn-outline-success"
        id="previous"
        mwlCalendarPreviousView
        [(viewDate)]="viewDate"
        [view]="view"
      >
        Previous
      </button>
      <button
        class="btn btn-outline-secondary"
        id="today"
        mwlCalendarToday
        [(viewDate)]="viewDate"
      >
        Today
      </button>
      <button
        class="btn btn-outline-primary"
        id="next"
        mwlCalendarNextView
        [(viewDate)]="viewDate"
        [view]="view"
      >
        next
      </button>
    </div>
    <div id="cal-date-field" class="d-flex flex-column align-items-center justify-content-center">
     <div> {{ viewDate | calendarDate : view + "ViewTitle" : "fr" }}</div>
      <button routerLink="/dashboard/planifications/add" class="btn" style="background-color: #0E8178;color: white;">Ajouter planification</button>
    </div>
    <div id="cal-view-nav-buttons" class="d-flex gap-2">
      <button
        class="btn btn-outline-danger"
        id="month"
        (click)="setView(CalendarView.Month)"
      >
        Month
      </button>
      <button
        id="week"
        class="btn btn-outline-warning"
        (click)="setView(CalendarView.Week)"
      >
        Week
      </button>
      <button
        id="day"
        class="btn btn-outline-dark"
        (click)="setView(CalendarView.Day)"
      >
        Day
      </button>
    </div>
  </div>
  <span [ngSwitch]="view">
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      locale="fr"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [refresh]="refresh"
      
    >
 
  </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      locale="fr"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [refresh]="refresh"
      
    ></mwl-calendar-day-view>
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      locale="fr"
      (eventClicked)="eventClicked($event)"
      (eventTimesChanged)="eventTimesChanged($event)"
      [refresh]="refresh"
      
    ></mwl-calendar-month-view>
   
  </span>
</div>
<div class="custom-modal-container" *ngIf="isModalOpen">
  <div class="custom-modal">
    <div class="custom-modal-header">
      <h5 class="custom-modal-title m-1">Details de la planification</h5>
      
      <button class="custom-close-btn" (click)="closeModal()">&times;</button>
    </div>
    <hr class="custom-divider">
    <div class="custom-modal-body">
     
      <p class="mt-2"style="color: #11837A;">{{ selectedEvent.event.title }}</p>
      <ul>
        <li>Date Debut: <span class="text-secondary">{{ selectedEvent.event.start | date: 'dd/MM/yyyy HH:mm:ss' }}</span></li>
        <li>Date Fin: <span class="text-danger">{{ selectedEvent.event.end | date: 'dd/MM/yyyy HH:mm:ss' }}</span></li>
    </ul>
    <hr class="custom-divider">
    <p style="color: #0E8178;">liste des ensemble</p>
    <div *ngIf="ensembleOftheevent.length === 0">
      <small class="mb-2" style="color: #ccc;">Pas d'ensemble ajoutee à cette planification</small>
    </div>
    <div class="d-flex justify-content-around gap-2">
      <div class="p-1 rounded-1" *ngFor="let ensemble of ensembleOftheevent">
        <app-ensemple-item [ensemble]="ensemble"></app-ensemple-item>
      </div>
      <a class="rounded-icon d-flex align-items-center justify-content-center" [routerLink]="['/dashboard/planifications/update',selectedEvent.event.meta.id]"  style="width: 30px; height: 30px; background-color: #0E8178; color:white;" title="Ajouter un ensemble">
        <i class="icon material-icons md-add_circle"></i>
      </a>
    </div>

    </div>
    <span class="btn btn-outline-danger" (click)="deletePlanification(selectedEvent.event.meta.id)">Delete planification</span>
  </div>
</div>

